{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}

<style>
    /* mobile */
    .row {
        display: block;
    }

    .container-fluid {
        padding-top: 40px;
    }

    .welcome-name {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
    }

    .welcome-info {
        margin-bottom: 0;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        margin-left: 15px;
        margin-right: 15px;
        color: #545563;
        font-weight: 400;
    }    
    
    .location-description {
        margin-bottom: 0;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        color: #545563;
        font-weight: 400;
    }

    .responsive {
        width: 100%;
        height: 50%;
    }

    a {
        text-decoration: none;
        color: #4E60FF;
    }

    .rating-title {
        font-weight: bold;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 25px;
    }

    .option-block {
        display: flex;
        justify-content: flex-start;
    }

    p {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: bold;
        align-self: center;
    }

    .stars {
        margin: 15px;
    }

    .rate-category {
        display: flex;
        justify-content: flex-start;
    }

    .rate-stars {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    .detail-stars label:before {
        float: left;
        font-size: 20px;
        margin: 0 0;
        text-shadow: 1px 1px #bbb;
        content: '★';
        color: gold;
        text-shadow: 1px 1px #c60;
        padding-right: 5px;
    }

    #form-block .q20-submit .submit-button {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    #form-block .q20-submit button {
        background-color: #301c12;
        color: white;
        padding: 14px 20px;
        margin: 10px auto;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    /* desktop */
    @media (min-width: 768px) {
        .responsive {
            width: 100%;
            height: 60%;
        }
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p class="welcome-info">
                Recommended Destination<br>
            </p>

            <p class="welcome-name">
                <!-- retrieve location name from the backend variable  -->
                {{ location }}
            </p>

            <img src="http://live.staticflickr.com/795/26019072727_e999f5d321_k.jpg" alt="Houses" class="responsive" width="600" height="400">
            <p class="location-description">
                Rio de Janeiro is a huge seaside city in Brazil, famed for its Copacabana...(some info about the destination)
            </p>

            <div>
                <p class="rating-title">
                    Best destination for:
                </p>
            </div>

            <div id="form-block">
                <div class="stars">
                    <div class="detail-stars">
                        <form method="POST" action="">
                            {% for top_three_activity in top_three_activities %}
                            <div class="option-block">
                                <div class="rate-stars">
                                    <label for="{{ top_three_activity[0] + '-' }}{{i}}"></label>
                                </div>
                                {% if top_three_activity[1] != 0: %}
                                    <div class="rate-category">
                                        <p> {{ top_three_activity[1] }}/7 - {{ top_three_activity[0].capitalize() }}</p>
                                    </div>
                                {% elif top_three_activity[1] == 0: %}
                                    <div class="rate-category">
                                        <p> No rates for this tag</p>
                                    </div>
                                {% endif %}

                            </div>
                            {% endfor %}
                            <div class="q20-submit">
                                <div class="submit-button"><button type="submit" value="Next">More Destinations</button></div>
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

{% endblock%}