{% extends "base.html" %}
{% block title %}Let us know you better{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/style.css">

<style>
    /* mobile */
    .container-fluid {
        padding-top: 40px;
    }

    .welcome-name {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
    }

    .welcome-info {
        margin-bottom: 0;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        margin-left: 15px;
        margin-right: 15px;
        color: #545563;
        font-weight: 400;
    }

    .rate-this-destination {
        margin-bottom: 0;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        margin-left: 15px;
        margin-right: 15px;
        color: #545563;
        font-weight: 400;
        margin-top: 20px;
    }

    .responsive {
        width: 100%;
        height: 50%;
    }

    .option-block {
        display: flex;
        justify-content: space-evenly;
        margin-top: 5px;
    }

    .q20-submit .submit-button {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    .q20-submit button {
        background-color: #301c12;
        color: white;
        padding: 14px 20px;
        margin: 10px auto;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    /* desktop */
    @media (min-width: 768px) {
        .responsive {
            width: 100%;
            height: 60%;
        }
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p class="welcome-info">
                Destination evaluation<br>
            </p>

            <p class="welcome-name">
                <!-- retrieve location name from the backend variable  -->
                {{ location }}
            </p>

            <img src="static/images/welcome.jpg" alt="Nature" class="responsive" width="400" height="300">

            <p class="rate-this-destination">
                Rate this destination<br>
            </p>

            <div id="form-block">
                <div class="stars">
                    <form method="POST" action="">
                        {% for i in range(8): %}
                        <div class="option-block">
                            <!-- This is the where the stars will be -->
                            <input type="radio" id="one" name="rate" value="1">
                            <label for="one"></label>
                            <input type="radio" id="two" name="rate" value="2">
                            <label for="two"></label>
                            <input type="radio" id="three" name="rate" value="3">
                            <label for="three"></label>
                            <input type="radio" id="four" name="rate" value="4">
                            <label for="four"></label>
                            <input type="radio" id="five" name="rate" value="5">
                            <label for="five"></label>
                            <input type="radio" id="six" name="rate" value="6">
                            <label for="six"></label>
                            <input type="radio" id="seven" name="rate" value="7">
                            <label for="seven"></label>
                        </div>
                        {% endfor %}
                        <div class="q20-submit">
                            <div class="submit-button"><button type="submit">Submit</button></div>
                        </div>
                        {{ activities }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}