{% extends "base.html" %}
{% block title %}Let us know you better{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/style.css">

<style>
    /* mobile */
    .container-fluid {
        padding-top: 40px;
    }

    .welcome-name {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
    }

    .welcome-info {
        margin-bottom: 0;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        margin-left: 15px;
        margin-right: 15px;
        color: #545563;
        font-weight: 400;
    }

    .stars {
        margin: 15px;
    }

    .rate-this-destination {
        margin-bottom: 0;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        margin-left: 15px;
        margin-right: 15px;
        color: #545563;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: bold;
        word-break: break-all;
    }

    .responsive {
        width: 146px;
        height: 100px;
    }

    .image-container {
        margin-top: 18px;
        display: flex;
        justify-content: center;
    }

    .option-block {
        display: flex;
        justify-content: space-between;
    }

    .rate-category {
        display: flex;
        justify-content: flex-start;
    }

    .rate-stars-location {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .rate-stars {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    .q20-submit .submit-button {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    .q20-submit button {
        background-color: #301c12;
        color: white;
        padding: 14px 20px;
        margin: 10px auto;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: rgb(205, 201, 201);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: white;
        color: rgb(205, 201, 201);
    }

    /* Fading animation */
    .image-fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    a {
        text-decoration: none;
    }

    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    /* desktop */
    @media (min-width: 768px) {
        .responsive {
            width: 100%;
            height: 60%;
        }
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p class="welcome-info">
                Destination evaluation<br>
            </p>

            <p class="welcome-name">
                <!-- retrieve location name from the backend variable  -->
                {{ location_name }}
            </p>

            <div class="slideshow-container">

                {% for image in images: %}
                    <div class="mySlides image-fade">
                        <div class="image-container"> 
                            <img src="{{ image }}" alt="Images" class="responsive" width="400" height="300">
                        </div>
                    </div>
                {% endfor %}
                
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
                
            </div>

            <div id="form-block">
                <div class="stars">
                    <form method="POST" action="">
                        <p class="rate-this-destination">
                            {{ question }}
                        </p>

                        <div class="rate-stars-location">
                            {% for i in range(7, 0, -1): %}
                                <input type="radio" id="location-{{i}}" name="location-rate" value="{{i}}">
                                <label for="location-{{i}}"></label>
                            {% endfor %}
                        </div>
            
                        <p class="rate-this-destination">
                            Rate this destination for at least 1 of the following:
                        </p>

                        {% for final_activity in final_activities %}
                        <div class="option-block">
                            <div class="rate-category">
                                <p>{{ final_activity.capitalize() }}</p>
                            </div>
                            
                            <div class="rate-stars">
                                {% for i in range(7, 0, -1): %}
                                    <input type="radio" id="{{ final_activity + '-' }}{{i}}" name="{{ final_activity + '-' }}rate" value="{{i}}">
                                    <label for="{{ final_activity + '-' }}{{i}}"></label>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="q20-submit">
                            <div class="submit-button"><button type="submit">Submit</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slides[slideIndex-1].style.display = "block";  
    }
</script>
{% endblock%}