{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<style>
    /* mobile */
    .application-name {
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        line-height: 60px;
        padding-top: 50px;
        padding-bottom: 20px;
        color: #2b2b43;
    }

    .form-label {
        font-size: 12px;
    }
    
    .login-button {
        display: block;
        width: 100%;
        border: solid;
        border-color: #4E60FF;
        background-color:white;
        color: #4E60FF;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        border-radius: 8px;
    }

    .login-button:hover {
        background-color: #394cfa;
        color: white;
    }

    .login-href {
        color:#4E60FF;
        text-decoration: none;
        display: block;
        font-size: 16px
    }

    .login-href:hover {
        color:#fff;
        text-decoration: none;
        display: block;
        font-size: 16px
    }

    .logo1 {
        margin:auto;
        width: auto;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    /* desktop */
    @media (min-width: 768px) {

    }
    </style>

    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <img src="static/images/logo3.png" alt="Logo1" class="logo1">

                <!-- <div class="col-md-9 col-lg-6 col-xl-12">
                    <p class="application-name">
                        DESTMATCH
                    </p>
                </div> -->
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}

                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            {{ form.username(class="form-control form-control-lg", placeholder="Enter your username") }}
                            <label class="form-label" for="form3Example4">Username</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            {{ form.password(class="form-control form-control-lg", placeholder="Enter your password") }}
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>
            
                        <div class="text-center text-lg-start mt-4 pt-2">
                            {{ form.submit(class="login-button") }}
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button class="login-button">
                                <a href="register" class="login-href">Register</a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock%}