<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        Cultural<input type="checkbox" value="cultural" name="Q1">
        Mountain<input type="checkbox" value="mountain" name="Q1">
        Nature<input type="checkbox" value="nature" name="Q1">
        Rural<input type="checkbox" value="rural" name="Q1">
        Beach<input type="checkbox" value="beach" name="Q1">
        Urban<input type="checkbox" value="urban" name="Q1">
        <input type="submit">
    </form>
</body>
</html>