{% extends "base.html" %}
{% block title %}Question{% endblock %}
{% block content %}
<style>
    /* mobile */
    .multiple-choices-question h3 {
        font-size: 20px;
        color: #2B2B43;
        text-align: center;
        font-weight: 700;
        margin-top: 150px;
        margin-bottom: 30px;
    }

    .multiple-choices-question .destination-label {
        font-weight: bold;
        font-size: 16px;
    }

    .multiple-choices-question #form-block {
        border-radius: 5px;
        padding: 20px;
        width: auto;
        max-width: 800px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .multiple-choices-question .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 30px;
    }

    .multiple-choices-question .container div {
        display: flex;
        justify-content: center;
    }

    .multiple-choices-question .container button {
        background-color: #301c12;
        color: white;
        padding: 14px 20px;
        margin: 40px 0;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    .multiple-choices-question .container button:hover {
        background-color: #2a272c;
    }

    .multiple-choices-question .back-button button {
        padding: 14px 30px;
    }

    /* desktop */
    @media (min-width: 768px) {

    }
</style>

<body>
    <div class="container-fluid h-custom">
        <div class="row">
            <div class="multiple-choices-question">
                <h3>{{ question }}</h3>

                <div id="form-block">
                    <form method="POST" action="">
                        <label class="destination-label" for="destination">Destination:</label>
                        <label>
                            <input type="text" id="destination" value="" name="QText", placeholder="(insert response here)">
                        </label>
                        <div class="container">
                            <div class="back-button">
                                <button type="button" onclick="history.back()">
                                    Back
                                </button>
                            </div>
                            <div class="submit-button"><button type="submit">Submit</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    

{% endblock%}