{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<style>
    /* mobile */
    .responsive {
        width: 100%;
        height: 50%;
    }

    .container-fluid {
        padding-top: 40px;
    }

    .welcome-to {
        text-align: center;
        font-size: 20px;
        line-height: 20px;
    }

    .welcome-name {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: -2px;
        font-stretch: extra-condensed;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        line-height: 48px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .welcome-info {
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        margin-left: 15px;
        margin-right: 15px;
        color: #545563;
        padding-top: 10px;
    }

    .welcome-started {
        text-align: center;
        font-size: 20px;
        line-height: 10px;
        padding-top: 40px;
        font-weight: bold;
        text-decoration: none;
    }

    a {
        text-decoration: none;
        color: #4E60FF;
    }

    /* desktop */
    @media (min-width: 768px) {
        .responsive {
            width: 100%;
            height: 60%;
        }
    }
</style>

<img src="static/images/welcome.jpg" alt="Nature" class="responsive" width="600" height="400">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h6 class="welcome-to">Wellcome to</h6>
            <p class="welcome-name">
                DESTMATCH
            </p>
            <p class="welcome-info">
                DESTMATCH provides the best <br>
                recommendations for your next travel <br>
                destinations.
            </p>
            <div class="welcome-started">
                <a href="instruction">Get Started</a>
            </div>
        </div>
    </div>
</div>
{% endblock%}